.lark-carousel {
	position: relative;
}

.lark-carousel  .prev, .lark-carousel  .next {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -23px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
    text-align: center;
    background: #222;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    cursor: pointer;
}

.lark-carousel  .next {
    left: auto;
    right: 15px;
}

.lark-carousel  .close,
.lark-carousel  .title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  opacity: 0.8;
}
.lark-carousel  .close {
  padding: 15px;
  right: 15px;
  left: auto;
  margin: -15px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}
.lark-carousel  .play-pause {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 15px;
  height: 15px;
  background: url(./img/play-pause.png) 0 0 no-repeat;
  cursor: pointer;
  opacity: 0.5;
}

.lark-carousel-playing  .play-pause {
  background-position: -15px 0;
}


.lark-carousel   .prev:hover,
.lark-carousel   .next:hover,
.lark-carousel   .close:hover,
.lark-carousel   .title:hover,
.lark-carousel   .play-pause:hover {
  color: #fff;
  opacity: 1;
}