.lark-carousel.slide .items {
  position: relative;
  width: 100%;
  height : 100%;
  overflow: hidden;
}
.lark-carousel.slide .items > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
  width: 100%;
  height : 100%;

}


.lark-carousel.slide .items > .active,
.lark-carousel.slide .items > .next,
.lark-carousel.slide .items > .prev {
  display: block;
}

.lark-carousel.slide .items > .active {
  left: 0;
}

.lark-carousel.slide .items > .next,
.lark-carousel.slide .items > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.lark-carousel.slide .items > .next {
  left: 100%;
}
.lark-carousel.slide .items > .prev {
  left: -100%;
}
.lark-carousel.slide .items > .next.left,
.lark-carousel.slide .items > .prev.right {
  left: 0;
}
.lark-carousel.slide .items > .active.left {
  left: -100%;
}
.lark-carousel.slide .items > .active.right {
  left: 100%;
}